/*header section start*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
   max-width: 1200px;
    margin: auto;
}

nav {
    background-color: #00000080;
}

a {
    color: white;
    text-decoration: none;
}

.logo img{
    width: 220px;
    padding: 15px;
    margin-top: 5px;
}
.logo:hover {
    color: brown;
    transform: rotate(-10deg);
}
.menu-con {
    display: flex;
    justify-content: space-between;
    
}

.menus ul {
    display: flex;
    list-style-type: none;
    padding: 15px;
    margin-top: 8px;
    text-transform: uppercase;
}

.menus li {
    padding: 7px;
    background-color: brown;
    margin-left: 15px;
    border-radius: 5px;
}

.menus ul a:hover {
    color: #000;
}

.menus ul li:hover {
    background-color: palegreen;
    
}
/*header section end*/

/*banner section start*/
.back-photo {
    background-image: url("../images/photo-1513530534585-c7b1394c6d51.avif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    margin: 0;
    padding: 0;
}
.tittle {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    text-transform: uppercase;   
}

.tittle::after {
    content: "";
    display: block;
    height: 2px;
    background-color: black;
    width: 500px;
    margin: auto;
}

.banner-section {
    display: flex;
    align-items: center;
    
}

.banner-img img {
    width: 450px;
    margin-left: 96px;
    margin-top: 20px;
}

.tittle2 {
    font-size: 50px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
} 

.discription {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

.btn {
    padding: 15px;
    background-color: chocolate;
    border: 0;
    border-radius: 10px;
}

.btn:hover {
    color: white;
    background-color: orange;
}
/*banner section end*/
.about {
    display: flex;
    align-items: center;
}

.img-about {
    width: 450px;
    margin-left: 98px;
    margin-top: 35px;
}

.tittle-2 {
    font-size: 50px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    margin-bottom: 10px;
}

.p-1, .p-2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 100;
    font-style: italic;
    margin-bottom: 10px;
}