/*header section start*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
   max-width: 1200px;
    margin: auto;
}

nav {
    background-color: #00000080;
}

a {
    color: white;
    text-decoration: none;
}

.logo img{
    width: 220px;
    padding: 15px;
    margin-top: 5px;
}
.logo:hover {
    color: brown;
    transform: rotate(-10deg);
}
.menu-con {
    display: flex;
    justify-content: space-between;
}

.menus ul {
    display: flex;
    list-style-type: none;
    padding: 15px;
    margin-top: 8px;
    text-transform: uppercase;
}

.menus li {
    padding: 7px;
    background-color: brown;
    margin-left: 15px;
    border-radius: 5px;
}

.menus ul a:hover {
    color: #000;
}

.menus ul li:hover {
    background-color: palegreen;
    
}
/*header section end*/